/* ** COMPONENTS ** */

.container {
   // width: min(90%, 75rem);
   margin-left: max(2rem, env(safe-area-inset-left));
   margin-right: max(2rem, env(safe-area-inset-right));
   width: calc(100% - 4rem);
   max-width: 33.75rem;
   @media (min-width: 33.75em) {
      margin: 0 auto;
   }
}

.center {
   text-align: center;
}

.row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grid {
   display: grid;
   grid-template-columns: repeat(2, 50%);
}

.new-item,
.items {
   grid-column: 1 / -1;
}

@media (min-width: 33.75rem) {
   .grid {
      grid-template-columns: repeat(3, 33.333333%);
   }
}
