/* ** TABLE OF CONTENT ** */
/* ********************** */
/* ** FONTS            ** */
/* ** VARIABLES        ** */
/* ** RESETS           ** */
/* ** DARKMODE         ** */
/* ** ACCESSIBILITY    ** */
/* ** DIEXPLORER       ** */
/* ** COMPONENTS       ** */
/* ** HEADER           ** */
/* ** GENERAL STYLING  ** */
/* ********************** */
/**/
/* ** FONTS ** */
@font-face {
   font-family: "Josefin Sans";
   src: url("../assets/fonts/JosefinSans-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Josefin Sans";
   src: url("../assets/fonts/JosefinSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
