/* ** VARIABLES ** */
:root {
   --clr-primary: hsl(220, 98%, 61%);
   --clr-gradient: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

   --clr-text-hover: hsl(235, 19%, 35%);
   --clr-text: hsl(235, 19%, 35%);
   --clr-secondary-200: hsl(236, 9%, 61%);
   --clr-text-inactive: hsl(233, 11%, 84%);
   --clr-secondary-400: hsl(236, 33%, 92%);
   --clr-list-bg: hsl(0, 0%, 100%);
   --clr-body-bg: hsl(0, 0%, 98%);

   --box-shadow: 0px 0px 110px -10px rgba(125, 125, 125, 0.65);

   --header-bg-desktop: url(../img/bg-desktop-light.jpg);
   --header-bg-mobile: url(../img/bg-mobile-light.jpg);
}

[data-theme="dark"] {
   --clr-text-hover: hsl(236, 33%, 92%);
   --clr-text: hsl(234, 39%, 85%);
   --clr-secondary-200: hsl(234, 11%, 52%);
   --clr-text-inactive: hsl(233, 14%, 35%);
   --clr-secondary-400: hsl(237, 14%, 26%);
   --clr-list-bg: hsl(235, 24%, 19%);
   --clr-body-bg: hsl(235, 21%, 11%);

   --box-shadow: 0px 0px 110px -10px rgba(31, 31, 31, 0.65);

   --header-bg-desktop: url(../img/bg-desktop-dark.jpg);
   --header-bg-mobile: url(../img/bg-mobile-dark.jpg);
}
